<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itp341.liu.haomei.finalprojecthaomeiliu">

    <permission
        android:name="itp341.liu.haomei.finalprojecthaomeiliu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="itp341.liu.haomei.finalprojecthaomeiliu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.map.MapActivity"></activity>
        <activity android:name=".activity.im.UserInfoActivity" />
        <activity android:name=".activity.AddEventActivity" /> <!-- Global Settings for activeandroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="handshake.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="itp341.liu.haomei.finalprojecthaomeiliu.database.UserEntry" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMNHk9kNWgsA1Wejl2CY45FfoH0D_esoc" />

        <service
            android:name=".activity.im.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <activity android:name=".activity.im.UserChatActivity" />
        <activity android:name=".activity.EventActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.im.BaseActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.im.TestSearchActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="itp341.liu.haomei.finalprojecthaomeiliu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- Required since JCore 1.1.7. SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="itp341.liu.haomei.finalprojecthaomeiliu.DataProvider"
            android:exported="false" /> <!-- Required since JMessage 2.7.0 SDK 核心功能 -->
        <provider
            android:name="cn.jpush.im.android.helpers.ipc.IMProvider"
            android:authorities="itp341.liu.haomei.finalprojecthaomeiliu.IMProvider"
            android:exported="false" /> <!-- Required JMessage SDK核心功能 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>